.navigation {
	width: 100%;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-transform: uppercase;
	position: absolute;
	background-color: transparent;
	overflow: hidden;
}

/* hamburger menu */
.hamburger {
	width: 3rem;
	height: 3rem;
	border-left: 1px solid #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 20px;
	right: 20px;
	cursor: pointer;
	overflow: hidden;
}

.bar {
	position: absolute;
	display: block;
	width: 60%;
	background-color: #fff;
	height: 1px;
	transition: .5s ease-out;
}

.bar:nth-child(1) {
	margin-bottom: 20px;
}

.bar:nth-child(3) {
	margin-top: 20px;
}


/* hamburger on click */
.hamburger2 {
	width: 3rem;
	height: 3rem;
	border-left: 1px solid #fff;
	display: flex;	
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 20px;
	right: 20px;
	cursor: pointer;
	overflow: hidden;
	/* z-index: 10; */
}

.hamburger2 .bar:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
}

.hamburger2 .bar:nth-child(2) {
    transform: rotate(-45deg);
    top: 50%;
}

.hamburger2 .bar:nth-child(3) {
	background-color: transparent;
	width: 0;
}


/* logo */

.logo {
	color: transparent;
	font-size: 2.8rem;
	font-weight: 700;
	font-style: italic;
	-webkit-text-stroke: 1px  #fff;
}

.nav-links-container {
	overflow: hidden;
}

.nav-list {
	transition: 1s;
	list-style-type: none;
	display: flex;
}

.hidden {
	transition: 1s;
	list-style-type: none;
	display: flex;

/* two options to animate menu */
	/* sliding from right */
	/* transform: translateX(200%); */

	/* shrinking and growing */
	transform: scale(0);
}

.hidden .nav-link {
	color: transparent;
	transition: .5s;
}

.nav-link {
	margin-left: 20px;
	color: #fff;
	font-size: 24px;
	font-weight: 300;
}
